# Supabase PostgreSQL (IPv4 pooler)
DATABASE_URL=postgresql://postgres.cvotihnjqncvhfryhrmr:davajbacha67!@aws-1-eu-central-1.pooler.supabase.com:5432/postgres

# Disable SSL for local development only
# DATABASE_SSL=false
